<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Zadanie 8</title>
    <!-- http://jqueryui.com/tabs/#mouseover -->
    <link rel="stylesheet" href="static/jquery-ui.min.css">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="static/plotly-latest.min.js"></script>
    <script src="static/gauge.min.js"></script>

    <script>                
$(document).ready(function() {
    var x = new Array();
    var rychlostArray = new Array();
    var vzdialenost1Array = new Array();
    var vzdialenost2Array = new Array();
    var naklonArray = new Array();
    var teplotaArray = new Array();
    var vlhkostArray = new Array();
    var layout;

    var gauge = new RadialGauge({
        renderTo: 'canvasID',
        width: 300,
        height: 300,
        units: "Rychlost",
        minValue: 0,
        maxValue: 0.24,
        majorTicks: [
            "0",
            "0.02",
            "0.04",
            "0.06",
            "0.08",
            "0.10",
            "0.12",
            "0.14",
            "0.16",
            "0.18",
            "0.20",
            "0.22",
            "0.24"
        ],
        minorTicks: 2,
        strokeTicks: true,
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
        needleCircleSize: 7,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 0,
        animationRule: "linear"
    });
    gauge.value = "0";
    gauge.draw();

    namespace = '/test';
    var socket = null;
    $("#button").click(function() {
        vec = $("#button");
        if (vec.val() == "start") {
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my_event', {
                    data: 'I\'m connected!',
                    value: 1
                });
            });

            socket.on('my_response', function(msg) {
                //VYPISOVANIE HODNOT
                if (msg.data == "Connected" || msg.data == "Disconnected") {
                    $("#log").append(msg.data + "<br>");
                }
                if (msg.vzdialenost1 != null) {
                    $('#log').append('<h3>x: ' + msg.count + '</h3>').html();
                    $('#log').append('Vzdialenost 1: ' + msg.vzdialenost1 + '<br>').html();
                    $('#log').append('Vzdialenost 2: ' + msg.vzdialenost2 + '<br>').html();
                    $('#log').append('Naklon: ' + msg.naklon + '<br><hr>').html();
                    vzdialenost1Array.push(parseFloat(msg.vzdialenost1));
                    vzdialenost2Array.push(parseFloat(msg.vzdialenost2));
                    naklonArray.push(parseFloat(msg.naklon));

                    // VYKRESLOVANIE GRAFU
                    x.push(parseFloat(msg.count));
                    teplotaArray.push(parseFloat(msg.teplota));
                    vlhkostArray.push(parseFloat(msg.vlhkost));

                    traces = [{
                            x: x,
                            y: teplotaArray,
                            name: "Teplota"
                        },
                        {
                            x: x,
                            y: vlhkostArray,
                            name: "Vlhkost"
                        }
                    ];
                    layout = {
                        title: 'Data zo senzorov teploty a vlhkosti',
                        xaxis: {
                            title: 'x',
                        },
                        yaxis: {
                            title: 'Hodnoty',
                        }
                    };
                    Plotly.newPlot($('#plotdiv')[0], traces, layout);

                    // VYKRESLENIE GAUGE
                    gauge.value = msg.rychlost;
                    rychlostArray.push(parseFloat(msg.rychlost));
                }
            });
            vec.val("stop")
            vec.text("Stop");
        } else {
            socket.emit('disconnect_request');
            vec.val("start");
            vec.text("Start");
        }
    })
    $("#send").click(function() {
        dataSend = {
            "x": x,
            "rychlost": rychlostArray,
            "vzdialenost1": vzdialenost1Array,
            "vzdialenost2": vzdialenost2Array,
            "naklon": naklonArray,
            "teplota": teplotaArray,
            "vlhkost": vlhkostArray
        }
        console.log(dataSend)
        $.ajax({
            url1: "{{url_for('dbdata')}}",
            url2: "{{url_for('openfile')}}",
            type: "POST",
            data: {
                'data': JSON.stringify(dataSend)
            },
            success: function(result) {
                alert("Data uspesne vlozene");
            }
        })
    });

    $(function() {
        $("#tabs").tabs({
            event: "mouseover"
        });
    });
});
    </script>
</head>
<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Hodnoty</a></li>
            <li><a href="#tabs-2">Graf</a></li>
            <li><a href="#tabs-3">Gauge</a></li>
        </ul>
        <div id="tabs-1">
            <h1>SocketIO Komunikacia</h1>
            <button id="button" value="start">Start</button>
            <button id="send">Send</button>
            <h2>Receive:</h2>
            <div id="log"></div>
        </div>
        <div id="tabs-2">
            <h1>Graf hodnot</h1>
            <div id="plotdiv" style="width:600px;height:250px;"></div>
        </div>
        <div id="tabs-3">
          <h1>Gauge s hodnotami</h1>
          <canvas id="canvasID"></canvas>    
        </div>
    </div>
</body>

</html>
